<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    <label class="form-label"> Username
      <input type="text" name="username" class="form-control" placeholder="Your username" />
    </label>

    <label class="form-label"> Email
      <input type="email" name="email" class="form-control" placeholder="Your email" />
    </label>

    <label class="form-label"> Password
      <input type="password" name="password" class="form-control" placeholder="Your password" />
    </label>

    <button type="submit" class="btn btn-primary">Log In</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>