<br>
<h1 class="h3">DYNAMICART</h1>
<br>
<div class="card">
  <div class="card-header">
    Explore Posts
  </div>
  <div class="card-body">
    <h5 class="card-title">Posts</h5>
    <p class="card-text">See all posts</p>
    <a href="/posts" class="btn btn-primary">Go</a>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    Explore Tags
  </div>
  <div class="card-body">
    <h5 class="card-title">Tags</h5>
    <p class="card-text">See all tags</p>
    <a href="/tags" class="btn btn-primary">Go</a>
  </div>
</div>