<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/tags">Tags</a></li>
    </ul>

    <form action="/posts/new" method="POST">
  <input type="text" name="title" placeholder="Title">
  <input type="text" name="image" placeholder="Image URL">
  <!-- Add more input fields as needed -->
  <button type="submit">Create Post</button>
</form>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>