<h2>Edit Post</h2>

<form action="/posts/{{post._id}}/edit" method="POST">
  <label for="title" class="form-label">Title:</label>
  <input type="text" id="title" name="title" class="form-control" value="{{post.title}}">

  <label for="image" class="form-label">Image URL:</label>
  <input type="text" id="image" name="image" class="form-control" value="{{post.image}}">

  <label for="tags" class="form-label">Tags:</label>
  <input type="text" id="tags" name="tags" class="form-control"value="{{#each post.tags}}{{this.text}},{{/each}}">

  <button type="submit" class="btn btn-success">Update Post</button>
</form>