<h2>Create a Post</h2>

<form action="/posts/create" method="post">
  <label for="title" class="form-label">Title:</label>
  <input type="text" name="title" class="form-control" required />

  <label for="image" class="form-label">Image URL:</label>
  <input type="text" name="image" class="form-control" />

  <label for="tags" class="form-label">Tags:</label>
  <input type="text" name="tags" class="form-control" />

  <button type="submit" class="btn btn-primary">Create Post</button>
</form>